body {
    font-family: "Roboto",serif;
    color: #434455;
    background-color: #FFFFFF;
}

ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
}

.container {
    width: 1158px;
    padding-left: 156px;
    padding-right: 156px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* HEADER */
.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
            0 1px 1px 0 rgba(46, 47, 66, 0.16),
            0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.header-navigation {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.logo-black{
    color: #2e2f42;
}

.header-list {
    display: flex;
    gap: 40px;
}

.active::after{
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    position: absolute;
    left: 0;
    bottom: -1px;
    display: block;
}

.header-list-item {}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
}

.header-link:hover,
.header-link:focus{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #404bbf;
}

.header-container{
    display: flex;
    align-items: center;
}

.contact {
    font-style: normal;
    margin-left: auto;
}

.contact-list {
    display: flex;
    gap: 40px;
}

.contact-list-item {
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-top: 24px;
    padding-bottom: 24px;
}

.contact-link:hover,
.contact-link:focus{
    color: #404bbf;
}

/* HERO */

.hero {
    background: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    margin: 0 auto;
    background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(/images/office.jpg);
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
        max-width: 496px;
        margin: 0 auto;
        margin-bottom: 48px;
        
}

.hero-btn {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        cursor: pointer;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        border-radius: 4px;
        border: none;
        display: block;
            margin-right: auto;
            margin-left: auto;
}

.hero-btn:hover,
.hero-btn:focus{
    background: #404bbf;
}

/* DESCRIPTION */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.description {
    padding-top: 120px;
    padding-bottom: 120px;
}

.description-list {
    display: flex;
    gap: 24px;
}

.description-list-item {
    width: calc((100% - 72px)/4);
}

.description-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.description-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.description-table{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    background: #f4f4fd;
    margin-bottom: 8px;
}

.description-icon{
}

/* TEAM */

.team {
    background: #f4f4fd;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-basis: calc((100 - 3 * 24)/4);
}

.team-list-item {
    background: #fff;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
}

.team-img {}

.team-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}

.team-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
        margin-bottom: 8px;
}

.team-info{
    padding-top: 32px;
    padding-bottom: 32px;
}

.team-list-media{
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.team-link-media{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-media:hover,
.team-link-media:focus {
    background-color: #404bbf;;
}

.team-icon-media{
    fill: #f4f4fd;
}

/* PORTFOLIO */

.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item {
    position: relative;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-description {
    transform: translateY(0);
    cursor: pointer;
}

.portfolio-list-item:hover,
.portfolio-list-item:focus {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
        0 1px 1px 0 rgba(46, 47, 66, 0.16),
        0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-img {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        margin-bottom: 8px;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

.portfolio-info{
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;

}

.portfolio-description-text{
    position: relative;
    overflow: hidden;
}

.portfolio-description{
    position: absolute;
    top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateY(100%);
        font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #f4f4fd;
            background-color: #4d5ae5;
            padding-top: 40px;
                padding-left: 32px;
                padding-bottom: 40px;
                padding-right: 32px;
                transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




/* FOOTER */

.footer {
    background: #2e2f42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.media {
    display: flex;
    align-items: baseline;
}

.footer-container{
    margin-right: 120px;
}

.footer-container-link{
    list-style: none;
    gap: 120px;
}

.footer-logo {
    font-weight: 500;
        font-size: 18px;
        line-height: 1.16;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        display: inline-block;
        margin-bottom: 16px;
}

.footer-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        max-width: 264px;
}

.logo-white{
        color: #f4f4fd;
}

.footer-social-media{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        margin-bottom: 16px;
}

.footer-icons-list {
    display: flex;
    gap: 16px;
}

.footer-icons-item {
    width: 40px;
    height: 40px;
}

.footer-icons-link{
    width: 100%;
        height: 100%;
        border-radius: 50%;
        background-color: #4d5ae5;
        display: flex;
            align-items: center;
            justify-content: center;
            transition-property: background-color;
                transition-duration: 250ms;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
    background-color: #31d0aa;
}

.footer-icons{
    fill: #f4f4fd;
}

/* FOOTER FORM */

.footer-form-subscribe{
    margin-left: 80px;
    /* display: block; */
}

.footer-form-text{
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #ffffff;
        margin-bottom: 16px;
}

.footer-form{
    display: flex;
    gap: 24px;
}

.footer-form-input{
    border: 1px solid #ffffff; 
        border-radius: 4px; 
        width: 264px; 
        height: 40px; 
        background-color: transparent; 
        font-weight: 400;
            font-size: 12px; 
            line-height: 2; 
            letter-spacing: 0.04em; 
            color: #ffffff; 
            padding-left: 16px; 
            box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15); 
}

.footer-form-input::placeholder{
    color: #ffffff
}

.footer-form-label{
    /* font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #fff;
        display: flex;
        flex-direction: column;
        margin-bottom: 16px; */
}

/* input::placeholder {
    font-weight: 400;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 0.04em;
        color: #fff;
        padding-left: 16px;
} */

/* input:placeholder-shown {
    border: 1px solid #fff;
        border-radius: 4px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background-color: transparent;
        width: 264px;
            height: 40px;
} */

.footer-form-button{
            min-width: 165px; 
            height: 40px; 
            display: flex; 
            justify-content: center;
            align-items: center;
            font-family: "Roboto", sans-serif;
            border-radius: 4px;
            background: #4d5ae5;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: #fff;
            cursor: pointer;
            
}

.footer-form-icons{
    fill: #fff;
    margin-left: 16px;
}

/* MODAL OVERLAY */

.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc;
    fill: #2e2f42;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none;
    fill: #ffffff;
}

.button-close{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 16px;
}

/* MODAL FORM */
.modal-form-container{
    margin-bottom: 8px;
}

.label-text{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
        display: block;
        margin-bottom: 4px;
}

.container-input{
    position: relative;
}

.input-modal{
    border: 1px solid rgba(46, 47, 66, 0.4);
        border-radius: 4px;
        width: 100%;
        height: 40px;
        background-color: transparent;
        padding-left: 38px;
        outline: transparent;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus{
    border-color: #4D5AE5;
}

.input-modal-icons{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2e2f42;
}

/* коли натискаємо на форму то змінюється колір іконки */
.input-modal:focus + .input-modal-icons,
.input-modal:hover + .input-modal-icons{
    fill:#4d5ae5
}

.modal-form-comment{
    margin-bottom: 16px;
}

.comment-text{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: rgba(46, 47, 66, 0.4);
        background-color: transparent;
        padding: 8px 16px;
        outline: transparent;
        resize: none;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-text:focus{
    border-color: #4D5AE5;
}

.modal-form-privacy{
    margin-bottom: 24px;
}

.label-text-privacy{
    font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #8e8f99;
}

.label-box{
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    margin-right: 8px;
}

.input-privacy:checked + .label-text-privacy .label-box {
    background-color: #404bbf;
        border: none;
        fill: #F4F4FD;
}

.privacy-policy{
    line-height: 1.3;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #4d5ae5;
}

.button-privacy{
    font-family: "Roboto", sans-serif;
    display: block;
    min-width: 169px;
    border-radius: 4px;
    height: 56px;
    margin: 0 auto;
    background: #4d5ae5;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        cursor: pointer;
        border: none;
        text-align: center;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-privacy:hover,
.button-privacy:focus{
    background-color: #404bbf;
}